{# templates/bundles/FOSUserBundle/Registration/confirmed.html.twig #}
{# the special '!' prefix avoids errors when extending from an overridden template #}
{# extends "@!FOSUser/Resetting/check_email.html.twig" #}

<div>Check email</div>
