{% extends 'base.html.twig' %}

{% block title %}New Delivery{% endblock %}

{% block body %}
    <h1>Create new Delivery</h1>

    {{ include('delivery/_form.html.twig') }}

    <a href="{{ path('delivery_index') }}">back to list</a>
{% endblock %}
