{% extends 'base.html.twig' %}

{% block title %}Edit Procurement{% endblock %}

{% block body %}
    <h1>Edit Procurement</h1>

    {{ include('procurement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('procurement_index') }}">back to list</a>

    {{ include('procurement/_delete_form.html.twig') }}
{% endblock %}
