{% extends 'base-simple.html.twig' %}
{% block body %}
    <div class="alert alert-info row justify-content-center">
        <h3 class="col-8 text-center">Ton compte a bien été validé, c'est génial !!!</h3>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    setTimeout(function(){
       window.location.href = "{{ path('redirectTo') }}";
    }, 3500);
</script>
{% endblock %}



