{# templates/bundles/FOSUserBundle/Registration/confirmed.html.twig #}
{# the special '!' prefix avoids errors when extending from an overridden template #}
{# extends "@!FOSUser/Registration/confirmed.html.twig" #}


    <div>good</div>

