{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <h1>QAAM</h1>


{% endblock %}



{% block stylesheets %}

{% endblock %}


{% block javascripts %}

{% endblock %}