{% extends 'base.html.twig' %}

{% block title %}Edit Probe{% endblock %}

{% block body %}
    <h1>Edit Probe</h1>

    {{ include('probe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('probe_index') }}">back to list</a>

    {{ include('probe/_delete_form.html.twig') }}
{% endblock %}
